<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.arms.service.dao.ActivityRecordDao">
    <select id="selectJoinCount" parameterType="string" resultType="int">
        SELECT COUNT(*) FROM activity_record WHERE USER_ID=#{userId} AND ACTIVITY_ID=#{activityId}
        <choose>
            <when test="unitCode == 1">
                AND TO_DAYS(activity_record.GMT_CREATE) = TO_DAYS(NOW())
            </when>
            <when test="unitCode == 2">
                AND YEARWEEK(date_format(activity_record.GMT_CREATE,'%Y-%m-%d')) = YEARWEEK(now())
            </when>
            <when test="unitCode == 3">
                AND date_format(activity_record.GMT_CREATE,'%Y-%m')=date_format(now(),'%Y-%m')
            </when>
        </choose>
    </select>

    <insert id="insert" parameterType="com.arms.service.model.ActivityRecord" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO activity_record(USER_ID,ACTIVITY_ID)
        VALUES(#{userId},#{activityId})
    </insert>
</mapper>