<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.arms.service.dao.UserSourceDao">
    <insert id="insert" parameterType="string">
        INSERT INTO user_source(USER_ID,SOURCE)
        VALUES(#{userId},#{source})
    </insert>

    <select id="select" parameterType="int" resultType="string">
        SELECT SOURCE FROM user_source WHERE USER_ID=#{userId}
    </select>
</mapper>